# Reboot - Python Basics

This is a set of small independent assignments to recap the concepts of the day.

## 1. Variables

Create a `country` variable and assign your favorite country to it. Print it

In [1]:
country = "Iran"
print(country)

Iran

Create an `animal` variable and assign your favorite animal to it. Print it

In [2]:
animal = "Zebra"
print(animal)

Zebra

Create an `animal_count` variable with any positive integer in it. Print it

In [3]:
animal_count = 12
animal_count

12

Print out a string using all your variables that follows this format:
`"I just ordered 200 monkeys from Denmark"`

**Hint**: use interpolation

In [4]:
print(f"I just ordered {animal_count} {animal} from {country}")

I just ordered 12 Zebra from Iran

---
## 2. Data Types
Now it's time to talk about data types. The first question to ask yourself before starting any coding task, is to determine which data types you're working with.

Run the following cells and pay attention to the variables initialized:

In [5]:
pi = 3.14
food = 'pizza'
colors = ['red', 'blue', 'yellow']
print("Variables are now defined!")

Variables are now defined!

Look at the following code. Replace the `?` with the correct data type each time (`str`, `float`, `list`). 

The cell should display `True` when you put in the right datatypes.

In [6]:
type(pi) == float \
and type(food) == str \
and type(colors) == list

True

Let's try to work with other data types. This time there's no hint.

In [7]:
user_profile = {'email': 'buffy@gmail.com', 'age': 19, 'password': 'hunter2', 'profession': 'Vampire Slayer' }
shapes = ('square', 'round', 'hexagonic')
age = 25
age_valid = (age < 18)
print("Variables are now defined!")

Variables are now defined!

Let's repeat the excercise from before with the new variables. Once again, the cell should display `True` when you're done.

In [8]:
type(shapes) == tuple \
and type(user_profile) == dict \
and type(age_valid) == tuple

False

---

## 3. Functions

Create a fuction `credit_card_industry` which takes one parameter (a `str` storing a credit card number like `"4242 4242 4242 4242"` for instance) and **return** one of the following industries:

- Airline
- Visa
- Mastercard
- Other

This [article](https://www.thebalance.com/what-do-the-numbers-on-your-credit-card-mean-4588401) will prove handy if you don't know how to determine this from the number.

In [9]:
industries= ["Airline", "Visa", "Mastercard", "Other"]

def credit_card_industry(argument):
    for industry in industries:
        if argument[0]== "1":
            return industries[0] #[industries[0] for industry in industries if argument[0] == 1]
        elif argument[0] == "4":
            return industries[1]
        elif argument[0] == "5":
            return industries[2]
        else:
            return industries[3]

Call this function and **print** the result for the following card numbers:

- `"4539 0132 4843 4768"`
- `"5131 9376 6800 4058"`
- `"3762 8789 1971 1060"`
- `"1002 0494 8191 1719"`

In [10]:
credit_card_industry("4539 0132 4843 4768")

'Visa'

In [11]:
credit_card_industry("5131 9376 6800 4058")

'Mastercard'

In [12]:
credit_card_industry("3762 8789 1971 1060")

'Other'

In [13]:
credit_card_industry("1002 0494 8191 1719")

'Airline'

In [14]:
# trying to use list comprehention 

industries= ["Airline", "Visa", "Mastercard", "Other"]

def credit_card_detection(argument):
    for industry in industries:
        return [industries[0] 
         if argument[0] == "1"
         else
         industries[1] if argument[0] == "4"
         else
         industries[2] if argument[0] == "5"
         else
         industries[3]]

In [15]:
credit_card_detection("4539 0132 4843 4768")

['Visa']

In [16]:
credit_card_detection("5131 9376 6800 4058")

['Mastercard']

In [17]:
credit_card_detection("3762 8789 1971 1060")

['Other']

In [18]:
credit_card_detection("1002 0494 8191 1719")

['Airline']

---
## 4. Lists

Create a `genres` variable with a list of 3 different movie genres as strings. Print the list.

In [19]:
genres =["musical", "drama" , "documentary"]
genres

['musical', 'drama', 'documentary']

Add another genre to the list. Print the whole list.

In [20]:
genres.append("action")
genres

['musical', 'drama', 'documentary', 'action']

Change the name of the second genre on the list. Print the whole list

In [21]:
genres[1] = 'comedy'
genres

['musical', 'comedy', 'documentary', 'action']

Print each genre (sorted) to the terminal following this format (use a for loop with enumerate):

```
1 - Action
2 - Comedy
3 - Drama
4 - Thriller
```

In [22]:
for index, genre in enumerate(genres):
    print(f"{index+1} - {genre}")

1 - musical
2 - comedy
3 - documentary
4 - action

---
## 5. Dictionaries

Create a `movie` variable with a dictionary containing information about any movie. It should contain the keys `year` and `title` with appropriate values. You can get some inspiration on [IMDB](https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating)

In [23]:
Amelie = {"title":"Amelie", "year": 2001}
Amelie

{'title': 'Amelie', 'year': 2001}

Add a `director` key to the dictonary with the appropriate value. Print the `movie` dictionary

In [24]:
Amelie["director"]= "Jean-Pierre Jeunet"
Amelie

{'title': 'Amelie', 'year': 2001, 'director': 'Jean-Pierre Jeunet'}

Create a `movies` variable and initialize it with an empty list.

In [25]:
movies = []

Add your `movie` to the list along with two more movies, with the same keys as the first one. Then print the entire list

In [26]:
Godfather ={'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppolla'}
Rashomon ={'title': 'Rashomon', 'year': 1950, 'director': 'Akira Kurosawa'}
movies.extend((Amelie,Godfather,Rashomon))
#movies.append(Godfather)
#movies.append(Rashomon)
movies

[{'title': 'Amelie', 'year': 2001, 'director': 'Jean-Pierre Jeunet'},
 {'title': 'Godfather', 'year': 1972, 'director': 'Francis Ford Coppolla'},
 {'title': 'Rashomon', 'year': 1950, 'director': 'Akira Kurosawa'}]

Finally, print the `movies` list line by line in the terminal in the following format (using a `for` loop):
```
Terminator by James Cameron was released in 1984
Godfather by Francis Ford Coppolla was released in 1972
The Matrix by The Wachowski Brothers was released in 1999
```

In [27]:
for index in range(len(movies)):
        print(movies[index]['title'], "by", movies[index]['director'],"was released in", movies[index]['year'])
        # or
        # print(f"{movies[index]['title']} by {movies[index]['director']} was released in {movies[index]['year']}")

Amelie by Jean-Pierre Jeunet was released in 2001
Godfather by Francis Ford Coppolla was released in 1972
Rashomon by Akira Kurosawa was released in 1950

---
## 6. Dictionaries + Lists

Often when we're dealing with data, we have to find our way around a big dictionary. This can be a bit intimidating at first. But have no fear, once you get the hang of it, it's quite comfortable to navigate. When we're dealing with bigger dictionaries, it's important to take the time and read through it, knowing what kind of data types are stored and what structure it has. 

It's often a small subset of the information we're interested in looking at, so we need to know how to precisely access it. Start by running the cell below:

In [28]:
movie = {
    'title': { 'en': 'The Dark Knight', 'fr': 'Le Chevalier Noir' },
    'year': 2008,
    'director': 'Christopher Nolan',
    'rating': 'PG-13',
    'plot': {
        'en': 'The Batman is out for blood',
        'fr': 'Batman est de retour, plus vénère que jamais'
    },
    'box office USD': {'USA': 535_234_033, 'rest_of_world': 469_700_000 },
    'actors': {
        'lead': ['Christian Bale', 'Heath Ledger'],
        'support': ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal' ]
    }
}
print("movie is defined!")

movie is defined!

Try to guess the answer to the questions without writing any code. Then try the code out for yourself to test your theory.

What does `movie['title']['fr']` return?

In [29]:
movie['title']['fr']

'Le Chevalier Noir'

What does `movie['title']['es']` return?

In [30]:
movie['title']['es']

KeyError: 'es'

What does `movie['actors']['support'][2]` return?

In [31]:
movie['actors']['support'][2]

'Gary Oldman'

### Optional 

Find a way to extract one list containing all the actors from the movie.

In [32]:
movies_list = []
movies_list.extend([movie['actors']['lead'],movie['actors']['support']])  
movies_list

[['Christian Bale', 'Heath Ledger'],
 ['Aaron Eckhardt', 'Morgan Freeman', 'Gary Oldman', 'Maggie Gyllenhaal']]

In [33]:
# a better way is:

movie['actors']['lead']+ movie['actors']['support']

['Christian Bale',
 'Heath Ledger',
 'Aaron Eckhardt',
 'Morgan Freeman',
 'Gary Oldman',
 'Maggie Gyllenhaal']

Try to calculate the total box office of the movie from `movie`

In [34]:
movie['box office USD']['USA'] + movie['box office USD']['rest_of_world']

1004934033

Would the code above still work with the following Box Office. How would you compute the total Box Office using a `for` loop?

In [35]:
box_office = {"US": 200_000_000, "EU": 85_000_000, "China": 110_000_000}
print(box_office)

{'US': 200000000, 'EU': 85000000, 'China': 110000000}

In [36]:
# total = sum(box_office.values())
# total

In [37]:
# trying to use a for loop
total = 0
for i in box_office.values():
    total += i
    print(total)
    # or total = sum(box_office.values()) 
    #print(total)

200000000
285000000
395000000

In [ ]:
!git add reboot.ipynb
!git commit -m "done!"
!git push